<!DOCTYPE html>
<html lang="en">

<head>
	<title>Maharsh Patel</title>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="stylesheet" href="{% static 'pricer/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'pricer/css/fonts.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'pricer/css/styles.css' %}" type = "text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body>
	<div id="backplate" class="container-fluid">
		<div class="row">
			<div class="col-sm-4"></div>
			<div id="maintitle" class="col-sm-4 text-center center-block">
				EDMONTON PROPERTY SEARCH
			</div>
			<div class="col-sm-4"></div>
		</div>

		<div class="row">
			<h1 id="addressBar"><input id="addressBarField" type="text" value="Enter Address" onfocus="if(this.value == 'Enter Address') {this.value=''}" onblur="if(this.value == ''){this.value ='Enter Address'}"></h1>
		</div>


		{% block content %}
		{% endblock %}

	</div>

</body>
<script>
	$('#backplate').height($(window).height()-100);
</script>

</html>
