<!DOCTYPE html>
<html lang="en">

<head>
	<title>Maharsh Patel</title>
	<meta charset="utf-8" /> {% load static %}
	<link rel="stylesheet" href="{% static 'pricer/css/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'pricer/css/fonts.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'pricer/css/styles.css' %}" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'pricer/js/jquery.autocomplete.min.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-2307254628194094",
	    enable_page_level_ads: true
	  });
	</script>

</head>

<body>
	<div id="backplate" class="container-fluid">
		<div class="row">
			<div class="col-sm-4"></div>
			<div id="maintitle" class="col-sm-4 text-center center-block">
				EDMONTON PROPERTY SEARCH
			</div>
			<div class="col-sm-4"></div>
		</div>

		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 col-sm-12 center-block text-center">
				<h1 id="addressBar">
					<input id="addressBarField" type="text" value='{{addressBarValue}}' onfocus="if(this.value == 'Enter Address') {this.value=''}" onblur="if(this.value == ''){this.value ='Enter Address'}">
					</input>
				</h1>
			</div>
			<div class="col-lg-2"></div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-sm-2"></div>
			<div id="infoBox" class="col-lg-6 col-sm-8">
				<span class="infoBoxTitle">Address:</span><span class="infoBoxValue"> {{address}}</span><br>
				<span class="infoBoxTitle">Neighbourhood:</span><span class="infoBoxValue"> {{neighbourhood}}</span><br>
				<span class="infoBoxTitle">Garage:</span><span class="infoBoxValue"> {{garage}}</span><br>
				<span class="infoBoxTitle">Type:</span><span class="infoBoxValue"> {{type}}</span><br>
				<span class="infoBoxTitle">Latitude:</span><span class="infoBoxValue"> {{latitude}}</span><br>
				<span class="infoBoxTitle">Longitude:</span><span class="infoBoxValue"> {{longitude}}</span><br>
			</div>
			<div class="col-lg-3 col-sm-2"></div>
		</div>

		<div id="priceValue" class="row center-block text-center">
			{{price}}
		</div>
	</div>
</body>

<script src="{% static 'pricer/js/scripts.js' %}"></script>

</html>
