html,
body {
  position: relative;
  height:100%;
  background-image: linear-gradient(232deg, #FFECF5 0%, #A5BBFF 100%);
  overflow-y: hidden;
}


/*#backplate{
    position: relative;
    margin: auto;
    width: 94vw;
    height: 94vh;
    top: 3vh;
    background: #FFFFFF;
    box-shadow: -15px 46px 56px 15px rgba(0,0,0,0.50);
    border-radius: 4px;
}*/

#backplate{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    background: #FFFFFF;
    box-shadow: -15px 46px 56px 15px rgba(0,0,0,0.50);
    border-radius: 4px;
}

#maintitle{
    font-family: "BG";
    font-weight: 700;
    font-size: 20px;
    padding-top: 40px;
    color: #C3C3FE;
    letter-spacing: -0.16px;
}

#addressBar{
    font-family: "BG";
    font-weight: 100;
    margin-top: 30px;
    /*background-color: red;*/
    font-size: 5vw;
    width: 100%;

}

input:focus {
    outline: none;
}

input[type="text"] {
    border: transparent;
    background-image: linear-gradient(197deg, #FFECF5 0%, #A5BBFF 100%);
    box-shadow: 0 2px 50px 27px rgba(215,215,215,0.50), inset 0 1px 53px 2px rgba(143,143,143,0.50);

}

#infoBox{
    /*padding-left: 10vw;*/
    font-size: 3em;
}


@media only screen and (max-width: 500px) {
    #backplate{
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        background: #FFFFFF;
        box-shadow: -15px 46px 56px 15px rgba(0,0,0,0.50);
        border-radius: 4px;
    }
    #infoBox{
        font-size: 1.5em;
    }
}
